body {
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  background: #e7eaf6;
}

.weather {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: #222831;
  height: 50%;
  border-radius: 5px;
  margin: 5px auto;
  max-width: fit-content;
  padding: 20px;
  position: relative;
}

.icon-weather {
  position: absolute;
  right: 15px;
  top: 15px;
}

.city a {
  text-decoration: none;
  color: #e7eaf6;
}
.city a:hover {
  color: #ff5722;
}

.degrees a {
  color: #e7eaf6;
}

.today-weather {
  height: 50px;
}
.today-weather .active {
  color: #38598b;
  text-decoration: none;
  cursor: default;
}

.cities {
  margin-top: 20px;
  padding: 0;
}

.city {
  display: inline;
  margin-right: 30px;
}

.enterCity {
  display: flex;
  margin-bottom: 40px;
}

.form-control {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-color: #38598b;
  border-radius: 4px;
  height: 40px;
  padding: 5px;
  background: #e7eaf6;
}

.btn {
  background: #ff5722;
  color: #fafafa;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-color: #38598b;
  margin-left: 10px;
  border-radius: 4px;
  height: auto;
  padding: 5px;
  width: 75px;
}

.btn:hover {
  transition: ease-in ease-in-out 300ms;
  background: #ff895d;
}

.current {
  background: #005689;
}

.current:hover {
  background: #007cb9;
  transition: ease-in ease-in-out 240ms;
}

.temp {
  font-weight: 800;
  color: #0278ae;
  display: inline;
  margin: 0 5px;
}

.main-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 20px;
  width: 50%;
}

.main-temp {
  font-size: 14px;
}

.your-city {
  font-weight: 600;
  color: #0278ae;
  display: inline;
  text-transform: capitalize;
}

.degrees {
  font-size: 20px;
}

.weather-descr-text {
  margin-block-start: 0;
  margin-block-end: 0;
}

.weather-descr-img {
  height: 50px;
}
.week {
  display: flex;
  justify-content: space-between;
}

.time {
  margin: 0 10px;
}
.week-day {
  border: solid 1px;
  width: 100px;
  border-radius: 4px;
  height: 120px;
  background: #007cb9;
  display: grid;
  align-content: center;
  margin: 3px;
}

.day {
  text-align: center;
  font-weight: 600;
  margin: 0;
}

.day-img {
  height: 40px;
  display: block;
  margin: 0 auto;
}

.day-temp {
  text-align: center;
}

.contacts {
  max-width: 700px;
  padding: 0;
  color: #222831;
}

.contacts-link {
  color: #222831;
  text-decoration: underline;
}

.contacts-link:hover {
  color: #ff5722;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
